<div class="banner_backgroud">
    <div class="line_top"></div>
    <div class="line_left"></div>
    <div class="line_bottom"></div>

    <div class="content maxWidth">
        <div class="text">
            <h1>NOWA KOLEKCJA JESIEŃ 2015</h1>
            <p>Niebanalna, pikowana kurtka wiosenna! Kurtka bardzo dobrze skrojona. Zapinana na napy. Wykonana z świetnej jakości materiału. Kurtka jest pikowana</p>
            <button>DOWIEDZ SIĘ WIĘCEJ</button>
        </div>

        <img src="assets/images/foto.png">
    </div>
</div>
