<div class="footer">
    <div class="group">
        <h1>INFORMACJE</h1>
        <p class="link">Status zamówienia</p>
        <p class="link">Zwroty, wymiana, reklamacje</p>
        <p class="link">Regulamin Sklepu</p>
        <p class="link">Formy płatności</p>
        <p class="link">Koszty dostawy</p>
        <p class="link">O firmie</p>
        <p class="link">Program lojalnościowy</p>
        <p class="link">Kontakt</p>
        <p class="link">Polityka cookies sklepu</p>
    </div>
    <div class="group">
        <h1>PŁATNOŚC I DOSTAWA</h1>
        <p class="text">Akceptowalne formy płatności to karta płatnicza, przelew online, przelew tradycyjny, płatność przy odbiorze.</p>
        <p class="text">Metody dostawy:<BR>Przesyłka kurierska lub odbiór osobisty w sklepie.</p>
        <p class="text">Koszty dostawy:<BR>wpłata na konto: 9,90zł<BR>opłata za pobraniem:  14.90zł<BR>przy zamówieniu powyżej 200zł wysyłka gratis!<BR>Powyższe ceny dotyczą wysyłki na terenie Polski.</p>
        <p class="orange">30 dni na odstąpienie od umowy!</p>
    </div>
    <div class="group">
        <h1>NEWSLETTER</h1>
        <form>
            <input type="text" placeholder="Wpisz swój adres e-mail">
            <button class="btn">ZAPISZ SIĘ</button>
        </form>
        <h1>KONTAKT</h1>
        <p class="number">517 577 517</p>
        <p class="link">sklep@goodlooking.pl</p>
    </div>
</div>

