<div class="top-bar maxWidth">
    <div class="menu__mobile">
        <app-menu-mobile></app-menu-mobile>
    </div>

    <div class="content-right">
        <form action="">
            <input type="text" placeholder="Szukaj produktu..">
            <button><img src="assets/svg/iconmonstr-magnifier-2.svg"></button>
        </form>
        <button class="link"><img src="assets/svg/iconmonstr-user-1.svg">Twoje konto</button>
        <button class="link"><img src="assets/svg/iconmonstr-shopping-cart-3.svg" style="transform: scale(-1, 1)">269,00zł/prod.(3)</button>
        <button class="cash">DO KASY</button>
    </div>
</div>
<div class="splitter maxWidth">
    <p>THAT'S WHAT WE CALL FASHION</p>
    <div class="line"></div>
</div>