<div class="products_container maxWidth">
    <div class="categories">
        <div class="line"></div>
        <button [className]="productCategory== 'recomended' ? 'item active' : 'item'" (click)="productCategory== 'recomended' || showRecomended()">POLECANE<img *ngIf="productCategory == 'recomended'" src="assets/svg/iconmonstr-arrow-80.svg"></button>
        <button [className]="productCategory== 'newest' ? 'item active' : 'item'"     (click)="productCategory== 'newest'     || showNewest()">NOWOŚCI<img *ngIf="productCategory == 'newest'" src="assets/svg/iconmonstr-arrow-80.svg"></button>
        <button [className]="productCategory== 'discounted' ? 'item active' : 'item'" (click)="productCategory== 'discounted' || showDiscounted()">PROMOCJE<img *ngIf="productCategory == 'discounted'" src="assets/svg/iconmonstr-arrow-80.svg"></button>
        <div class="line"></div>
    </div>
    <div class="products">
        <div class="item" *ngFor="let product of (products$ | async)| slice:0: numberOfItems ">
            <div class="img_container">
                <img src={{product.imageUrl}} alt="productImage">
            </div>
            <hr>
            <h1 [className]="product.sale ? 'sale' : ''">{{(product.price/100) | number:'.2'}} Zł</h1>
            <h1 *ngIf="product.sale">{{(product.sale_price/100) | number:'.2'}} Zł</h1>
            <p>{{product.description}}<BR>({{product.text_id}})</p>
        </div>
    </div>
    <button *ngIf="numberOfItems<moreItems" class="more" (click)="showMoreProducts()">ZOBACZ  WIĘCEJ PRODUKTÓW</button>
    <button *ngIf="numberOfItems>lessItems" class="more" (click)="showLessProducts()">UKRYJ</button>
</div>