<div class="swiper">
    <div class="myWrapper maxWidth">
        <div class="title">Ostatnio oglądane:</div>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="./../../../assets/images/prod1_small.png" alt="kurtka"></div>
                <div class="swiper-slide"><img src="./../../../assets/images/prod3_small.png" alt="kurtka"></div>
                <div class="swiper-slide"><img src="./../../../assets/images/prod4_small.png" alt="kurtka"></div>
                <div class="swiper-slide"><img src="./../../../assets/images/prod1_small.png" alt="kurtka"></div>
                <div class="swiper-slide"><img src="./../../../assets/images/prod2_small.png" alt="kurtka"></div>
                <div class="swiper-slide"><img src="./../../../assets/images/prod3_small.png" alt="kurtka"></div>
                <div class="swiper-slide"><img src="./../../../assets/images/prod2_small.png" alt="kurtka"></div>
                <div class="swiper-slide"><img src="./../../../assets/images/prod1_small.png" alt="kurtka"></div>
                <div class="swiper-slide"><img src="./../../../assets/images/prod4_small.png" alt="kurtka"></div>
                <div class="swiper-slide"><img src="./../../../assets/images/prod2_small.png" alt="kurtka"></div>
                <div class="swiper-slide"><img src="./../../../assets/images/prod3_small.png" alt="kurtka"></div>
                <div class="swiper-slide"><img src="./../../../assets/images/prod1_small.png" alt="kurtka"></div>
                <div class="swiper-slide"><img src="./../../../assets/images/prod2_small.png" alt="kurtka"></div>
                <div class="swiper-slide"><img src="./../../../assets/images/prod3_small.png" alt="kurtka"></div>
                <div class="swiper-slide"><img src="./../../../assets/images/prod2_small.png" alt="kurtka"></div>
            </div>
        </div>
    </div>
</div>
