.menu{
    margin:  auto;
    display: flex;
    align-items: center;
    font-family: "lovelo";
    font-size: 13px;

    flex-wrap: wrap;

    .item{
        display: block;
        align-items: center;
        padding: 12px 20px;
        position: relative;
        cursor: pointer;
        
        img{
            margin-left:  10px;
        }

        &:hover  {
            background-color: #eee;

            &:hover .subitem_container{
                display:block;
            }
        }

        .subitem_container{
            margin-top: 10px;
            left: 0px;
            width: 100%;
            display: none;
            position: absolute;
            background-color: inherit;
            z-index: 99;

            .subitem{
                font-size: 11px;
                padding: 12px 20px;

                &:hover{
                    background-color: #dedede;
                }
            }

            
        }
    }
}
