<div class="menu maxWidth">
    <div class="item">
        ODZIEŻ <img src="./../../../assets/svg/iconmonstr-arrow-80.svg">
    </div>
    <div class="item">
        AKCESORIA <img src="./../../../assets/svg/iconmonstr-arrow-80.svg">
    </div>
    <div class="item">
        TRENDY <img src="./../../../assets/svg/iconmonstr-arrow-80.svg">
    </div>
    <div class="item">
        MARKI <img src="./../../../assets/svg/iconmonstr-arrow-80.svg">
    </div>
    <div class="item">
        NOWOŚCI
    </div>
    <div class="item">
        PROMOCJE
    </div>
</div>