<div class="menu maxWidth">
    <div class="item" *ngFor="let menuItem of (menu$ | async).menuItems">
            <div class="item_inside" (click)="goToCategory(menuItem)">{{menuItem.name}}<img *ngIf="menuItem.child" src="assets/svg/iconmonstr-arrow-80.svg"/></div>
            <div *ngIf="menuItem.child" class="subitem_container">
                <div (click)="goToCategory(menuItem,subitem)" *ngFor="let subitem of menuItem.child" class="subitem">{{subitem.name}}</div>
            </div>
    </div>
</div>